body {
    margin:0;
    padding:0;
}
.col-2 {
    margin-bottom: 30px;
}
.table-primary, .table-primary > th, .table-primary > td {
    margin-top: 20px;
}
#dateleft {
    width: 128px;
}
#dateright {
    width: 128px;
}
#newoperation {
    width: 123px;
    margin-left: 37px;
}