@{ Layout = null; }
<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, maximum-scale=1">
	<meta name="description" content="Сделаем сайт недорого: Студия разработки сайтов, дизайна, программ для вашего бизнеса. Мы сделаем недорого сайт или ПО под любой тип бизнеса." />
	<meta name="keywords" content="создание сайтов, разработка сайтов, сделать дизайн, дизайн, сайты," />
	<meta name="yandex-verification" content="6e4c80bb01699571" />
	<meta name="google-site-verification" content="WWPpE8uFQ8A4n7rjf0ppe4GxB-NLsOzhV_ew2OVcLcc" />

	<title>Разработка сайтов AFC Studio</title>
	<link rel="icon" href="~/spacehome/assets/images/optimizedSize/favicon.png" type="image/png">
	<link rel="shortcut icon" href="~/spacehome/assets/images/optimizedSize/favicon.ico" type="img/x-icon">

	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,800italic,700italic,600italic,400italic,300italic,800,700,600' rel='stylesheet' type='text/css'>
	@*Основная вёрстка*@
	<link href="~/spacehome/assets/css/bootstrap/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="~/spacehome/assets/css/style.css" rel="stylesheet" type="text/css">
	@*Загружает значки*@
	<link href="~/spacehome/assets/css/font-awesome.css" rel="stylesheet" type="text/css">
	@*<link href="~/spacehome/assets/css/responsive.css" rel="stylesheet" type="text/css">
		<link href="~/spacehome/assets/css/magnific-popup.css" rel="stylesheet" type="text/css">*@
	@*Отвечает за крутилку наверху сайта*@
	<link href="~/spacehome/assets/css/animate.css" rel="stylesheet" type="text/css">

	<script type="text/javascript" src="~/spacehome/assets/js/jquery.1.8.3.min.js"></script>
	<script type="text/javascript" src="~/spacehome/assets/js/bootstrap.js"></script>
	<script type="text/javascript" src="~/spacehome/assets/js/jquery-scrolltofixed.js"></script>
	<script type="text/javascript" src="~/spacehome/assets/js/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="~/spacehome/assets/js/jquery.isotope.js"></script>
	<script type="text/javascript" src="~/spacehome/assets/js/wow.js"></script>
	<script type="text/javascript" src="~/spacehome/assets/js/classie.js"></script>
	<script type="text/javascript" src="~/spacehome/assets/js/magnific-popup.js"></script>
	<script src="scripts/js_scr/contactform/contactform.js"></script>
	<script src="~/spacehome/assets/js/request.js"></script>
	<script src="~/spacehome/assets/js/action_pages.js"></script>
</head>

<body>
	<header class="header" id="header">
		<!--header-start-->
		<div class="container">
			<figure class="logo animated fadeInDown delay-07s">
				<a href="#"><img class="rot" src="~/spacehome/assets/images/optimizedSize/logo.png" alt=""></a>
			</figure>
			<h1 class="animated fadeInDown delay-07s">Разработка сайтов AFCStudio</h1>
			<ul class="we-create animated fadeInUp delay-1s">
				<li>Мы создаем сайты любой сложности, а так же дизайн и программы для вашего бизнеса!</li>
			</ul>
		</div>
	</header>
	<!--header-end-->

	<section id="sec" class="secondhad">
		<!--secondx`had-start-->
		<h1 class="animated fadeInDown delay-07s start-text">На нашем сайте вы можете</h1>
		<ul class="we-create animated fadeInUp delay-1s end-text">
			<li>Мы работаем как с физическими так и юридическими лицами, все открыто и прозрачно.</li>
		</ul>
		<div class="secondhead-flex">
			<div class="card">
				<a class="card-text" href="#service">
					<h4 class="card-text">Ознакомиться с ресурсом и работами</h4>
				</a>
			</div>
			<div class="card2">
				<a class="card-text" href="~/form_price/index.html">
					<h4 class="card-text">Подсчитать услугу</h4>
				</a>
			</div>
			@*<div class="card3">
					<a class="card-text" href="/User/Login">
						<h4 class="card-text">Зарегистрироваться и отслеживать процесс</h4>
					</a>
				</div>*@
		</div>
	</section>
	<!--secondhad-end-->

	<nav class="main-nav-outer" id="test">
		<!--main-nav-start-->
		<div class="container">
			<ul class="main-nav">
				<li><a href="#header">Домой</a></li>
				<li><a href="#service">Cервис</a></li>
				<li><a href="#Portfolio">Предложения</a></li>
				<li class="small-logo"><a href="#header"><img src="~/spacehome/assets/images/optimizedSize/small-logo.png" alt=""></a></li>
				<li><a href="#client">Отзывы</a></li>
				<li><a href="#team">Команда</a></li>
				<li><a href="#contact">Ваша Заявка</a></li>
			</ul>
			<a class="res-nav_click" href="#"><i class="fa fa-bars"></i></a>
		</div>
	</nav>
	<!--main-nav-end-->

	<section class="main-section" id="service">
		<!--main-section-start-->
		<div class="container">
			<h2>Сервис</h2>
			<h6>Мы создаем только хорошие программные и веб решения для вас.</h6>
			<div class="row">
				<div class="col-lg-4 col-sm-6 wow fadeInLeft delay-05s">
					<div class="service-list">
						<div class="service-list-col1">
							<i class="fa fa-paw"></i>
						</div>
						<div class="service-list-col2">
							<h3>Программы &amp; Базы данных</h3>
							<p>Создадим любое программное решение под ваш бизнес. Или создадим отдельно базу данных под ваш вид бизнеса.</p>
						</div>
					</div>
					<div class="service-list">
						<div class="service-list-col1">
							<i class="fa fa-gear"></i>
						</div>
						<div class="service-list-col2">
							<h3>Веб разработка</h3>
							<p>Создадим сайт любой сложности, от простых визиток и лендингов до нагруженных проектов с использованием баз данных.</p>
						</div>
					</div>
					<div class="service-list">
						<div class="service-list-col1">
							<i class="fa fa-apple"></i>
						</div>
						<div class="service-list-col2">
							<h3>Мобильный дизайн</h3>
							<p>Сайт будет адаптивен под любое устройство</p>
						</div>
					</div>
					<div class="service-list">
						<div class="service-list-col1">
							<i class="fa fa-medkit"></i>
						</div>
						<div class="service-list-col2">
							<h3>Поддержка</h3>
							<p>Мы предлогаем поддержку своих программных продуктов по желанию заказчиков. Изменение программ под новые типы данных.</p>
						</div>
					</div>
					<div class="service-list">
						<div class="service-list-col1">
							<i class="fa fa-times"></i>
						</div>
						<div class="service-list-col2">
							<h3>Фриланс?</h3>
							<p>У нас работает КОМАНДА из проверенных специалистов с высшим IT образованием.<br> Ах да... процесс выполнения отслеживается вами в реальном времени! Это значит что вы можете просматривать демо версию продукта, определяя на каком этапе находится ваш заказ!</p>
						</div>
					</div>
				</div>
				<figure class="col-lg-8 col-sm-6  text-right wow fadeInUp delay-02s">
					<img src="~/spacehome/assets/images/optimizedSize/macbook-pro.png" alt="" loading="lazy">
				</figure>

			</div>
		</div>
	</section>
	<!--main-section-end-->
	<section class="main-section">
		<div class="container">
			<h2>Наши работы</h2>
			<br><br>
			<div id="carousel" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
					<div class="item active">
						<img src="~/spacehome/assets/images/optimizedSize/1.webp" loading="lazy">
					</div>
					<div class="item">
						<img src="~/spacehome/assets/images/optimizedSize/2.webp" loading="lazy">
					</div>
					<div class="item">
						<img src="~/spacehome/assets/images/optimizedSize/3.webp" loading="lazy">
					</div>
					<div class="item">
						<img src="~/spacehome/assets/images/optimizedSize/4.webp" loading="lazy">
					</div>
					<div class="item">
						<img src="~/spacehome/assets/images/optimizedSize/5.webp" loading="lazy">
					</div>
					<div class="item">
						<img src="~/spacehome/assets/images/optimizedSize/6.webp" loading="lazy">
					</div>
					<div class="item">
						<img src="~/spacehome/assets/images/optimizedSize/7.webp" loading="lazy">
					</div>
				</div>
				<!-- Элементы управления -->
				<a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
					<span class="fa fa-arrow-left" aria-hidden="true"></span>
					<!--				<span class="sr-only">Предыдущий</span>-->
				</a>
				<a class="right carousel-control" href="#carousel" role="button" data-slide="next">
					<span class="fa fa-arrow-right" aria-hidden="true"></span>
					<!--				<span class="sr-only">Следующий</span>-->
				</a>
			</div>
		</div>

	</section>


	<section class="main-section alabaster">
		<!--main-section alabaster-start-->
		<div class="container">
			<div class="row">
				<figure class="col-lg-5 col-sm-4 wow fadeInLeft">
					<img src="~/spacehome/assets/images/optimizedSize/iphone.png" alt="" loading="lazy">
				</figure>
				<div class="col-lg-7 col-sm-8 featured-work">
					<h2>21 век</h2>
					<P class="padding-b">Сегодня можно и нужно строить свой бизнес с использованием прогрессивных информационных технологий. Написанные конкретно под вас программные решения позволяют достигать большой скорости работы. Отсутствие сторонних движков для сайтов, а так же дорогостоящих программных продуктов позволяет экономить ваши ресурсы для других более важных целей. И что самое главное, поддержка таких продуктов становится легче и быстрее любыми разработчиками.</P>
					<div class="featured-box">
						<div class="featured-box-col1 wow fadeInRight delay-02s">
							<i class="fa fa-magic"></i>
						</div>
						<div class="featured-box-col2 wow fadeInRight delay-02s">
							<h3>магия разработки</h3>
							<p>При заказе сайтов они сразу будут адаптивные под любые устройства и браузеры.</p>
						</div>
					</div>
					<div class="featured-box">
						<div class="featured-box-col1 wow fadeInRight delay-04s">
							<i class="fa fa-gift"></i>
						</div>
						<div class="featured-box-col2 wow fadeInRight delay-04s">
							<h3>Подарки заказчикам</h3>
							<p>Многие разработчики после выдачи готовых проектов заказчикам отказываются их подправлять. Мы дарим вам определенное количество обращений для правки сайтов, или программ.</p>
						</div>
					</div>
					<div class="featured-box">
						<div class="featured-box-col1 wow fadeInRight delay-06s">
							<i class="fa fa-dashboard"></i>
						</div>
						<div class="featured-box-col2 wow fadeInRight delay-06s">
							<h3>SEO оптимизация</h3>
							<p>Наши продукты оставляют пространство для их продвижения вашим разработчикам. Так же мы можем сами продвигать ваши проекты.</p>
						</div>
					</div>
					<a class="Learn-More" href="#">Learn More</a>
				</div>
			</div>
		</div>
	</section>
	<!--main-section alabaster-end-->



	<section class="main-section paddind" id="Portfolio">
		<!--main-section-start-->
		<div class="container">
			<h2>Предложения</h2>
			<h6></h6>
			<div class="portfolioFilter">
				<ul class="Portfolio-nav wow fadeIn delay-02s">
					<li><a href="#" data-filter="*" class="current">Все</a></li>
					<li><a href="#" data-filter=".app">Программные продукты</a></li>
					<li><a href="#" data-filter=".web">Сайты</a></li>
					<li><a href="#" data-filter=".other">Простые работы</a></li>
				</ul>
			</div>
		</div>
		<div class="portfolioContainer wow fadeInUp delay-04s">
			<div class="Portfolio-box web">
				<a href="~/spacehome/assets/images/optimizedSize/webkey.webp" loading="lazy"><img src="~/spacehome/assets/images/optimizedSize/webketf.webp" alt="" loading="lazy"></a>
				<h3>Полноценный готовый сайт</h3>
				<p>С размещением</p>
			</div>
			<div class="Portfolio-box web">
				<a href="~/spacehome/assets/images/optimizedSize/shablon.webp" loading="lazy"><img src="~/spacehome/assets/images/optimizedSize/shablonf.webp" alt="" loading="lazy"></a>
				<h3>Дизайн сайтов</h3>
				<p>Макеты и фирменный стиль</p>
			</div>
			<div class="Portfolio-box app">
				<a href="~/spacehome/assets/images/optimizedSize/apppc.webp" loading="lazy"><img src="~/spacehome/assets/images/optimizedSize/apppcf.webp" alt="" loading="lazy"></a>
				<h3>Приложения ПК</h3>
				<p>Любой сложности для любых целей</p>
			</div>
			<div class=" Portfolio-box app">
				<a href="~/spacehome/assets/images/optimizedSize/mobil.webp" loading="lazy"><img src="~/spacehome/assets/images/optimizedSize/mobilf.webp" alt="" loading="lazy"></a>
				<h3>Мобильные приложения</h3>
				<p>Любой сложности для любых целей</p>
			</div>
			<div class=" Portfolio-box other">
				<a href="~/spacehome/assets/images/optimizedSize/database.webp" loading="lazy"><img src="~/spacehome/assets/images/optimizedSize/databasef.webp" alt="" loading="lazy"></a>
				<h3>База данных</h3>
				<p>Любого масштаба для любого предприятия</p>
			</div>
			<div class=" Portfolio-box other">
				<a href="~/spacehome/assets/images/optimizedSize/soc.webp" loading="lazy"><img src="~/spacehome/assets/images/optimizedSize/socf.webp" alt="" loading="lazy"></a>
				<h3>Продвижение соц сетей</h3>
				<p>Продвижение с активностью любой тематики</p>
			</div>
		</div>
	</section>
	<!--main-section-end-->


	<section class="main-section client-part" id="client">
		<!--main-section client-part-start-->
		<div class="container">
			<b class="quote-right wow fadeInDown delay-03"><i class="fa fa-quote-right"></i></b>
			<div class="row">
				<div class="col-lg-12">
					<p class="client-part-haead wow fadeInDown delay-05">Мы любим свое дело, а значит наши программные продукты всегда будут на высоком уровне. От этого выиграете лишь вы!</p>
				</div>
			</div>
			<ul class="client wow fadeIn delay-05s">
				<li>
					<a href="#">
						<img src="~/spacehome/assets/images/optimizedSize/team-leader-pic2.png" alt="" loading="lazy">
						<h3>Менеджер студии</h3>
						<span>AFC Studio.</span>
					</a>
				</li>
			</ul>
		</div>
	</section>
	<!--main-section client-part-end-->
	<div class="c-logo-part">
		<!--c-logo-part-start-->
		<div class="container">
			<ul>
				<li><a href="#"><img src="~/spacehome/assets/images/optimizedSize/c-liogo1.png" alt="" loading="lazy"></a></li>
				<li><a href="#"><img src="~/spacehome/assets/images/optimizedSize/c-liogo2.png" alt="" loading="lazy"></a></li>
				<li><a href="#"><img src="~/spacehome/assets/images/optimizedSize/c-liogo3.png" alt="" loading="lazy"></a></li>
				<li><a href="#"><img src="~/spacehome/assets/images/optimizedSize/c-liogo4.png" alt="" loading="lazy"></a></li>
				<li><a href="#"><img src="~/spacehome/assets/images/optimizedSize/c-liogo5.png" alt="" loading="lazy"></a></li>
			</ul>
		</div>
	</div>
	<!--c-logo-part-end-->
	<section class="main-section team" id="team">
		<!--main-section team-start-->
		<div class="container">
			<h2>Команда</h2>
			<h6>Ваши заказы разрабатывает не один человек, а целая команда.</h6>
			<div class="team-leader-block clearfix">
				<div class="team-leader-box">
					<div class="team-leader wow fadeInDown delay-03s">
						<div class="team-leader-shadow"><a href="#"></a></div>
						<img src="~/spacehome/assets/images/optimizedSize/team-leader-pic1.png" alt="" loading="lazy">
						<ul>
							<li><a href="mailto:mr-mishana-319@yandex.ru" class="fa fa-mail-forward"></a></li>
							<li><a href="https://vk.com/kryptograf" class="fab fa-vk"></a></li>
							<li><a href="https://vk.com/afc_studio" class="fas fa-users"></a></li>
						</ul>
					</div>
					<h3 class="wow fadeInDown delay-03s">Веб разработчик</h3>
					<span class="wow fadeInDown delay-03s">Разработка сайтов</span>
					<p class="wow fadeInDown delay-03s">Занимается в основном разработкой сайтов (Front end, back end) так же учавствует в разработке других проектов.</p>
				</div>
				<div class="team-leader-box">
					<div class="team-leader  wow fadeInDown delay-06s">
						<div class="team-leader-shadow"><a href="#"></a></div>
						<img src="~/spacehome/assets/images/optimizedSize/team-leader-pic2.png" alt="" loading="lazy">
						<ul>
							<li><a href="mailto:x.s.a.cach@gmail.com" class="fa fa-mail-forward"></a></li>
							<li><a href="https://vk.com/id184563259" class="fab fa-vk"></a></li>
							<li><a href="https://vk.com/afc_studio" class="fas fa-users"></a></li>
						</ul>
					</div>
					<h3 class="wow fadeInDown delay-06s">Менеджер проектов</h3>
					<span class="wow fadeInDown delay-06s">Все проекты</span>
					<p class="wow fadeInDown delay-06s">Занимается каждым заказом, а так же отлаживает работу команды, учавствует непосредственно в разработке, именно поэтому все проекты всегда в график!</p>
				</div>
				<div class="team-leader-box">
					<div class="team-leader wow fadeInDown delay-09s">
						<div class="team-leader-shadow"><a href="#"></a></div>
						<img src="~/spacehome/assets/images/optimizedSize/team-leader-pic3.png" alt="" loading="lazy">
						<ul>
							<li><a href="mailto:kostya12277@yandex.ru" class="fa fa-mail-forward"></a></li>
							<li><a href="https://vk.com/darknothing" class="fab fa-vk"></a></li>
							<li><a href="https://vk.com/afc_studio" class="fas fa-users"></a></li>
						</ul>
					</div>
					<h3 class="wow fadeInDown delay-09s">Прикладной программист</h3>
					<span class="wow fadeInDown delay-09s">Разработка приложений и баз данных</span>
					<p class="wow fadeInDown delay-09s">Занимается разработкой как высоконагруженных приложений с подключением SQL так и простых бизнес решений.</p>
				</div>
			</div>
		</div>
	</section>
	<!--main-section team-end-->



	<section class="business-talking" id="req">
		<!--business-talking-start-->
		<div class="container">
			<h2>перейдем к заказу</h2>
		</div>
	</section>
	<!--business-talking-end-->
	<div class="container">
		<section class="main-section contact" id="contact">

			<div class="row">
				<div class="col-lg-6 col-sm-7 wow fadeInLeft">
					<div class="contact-info-box address clearfix">
						<h3><i class=" icon-map-marker"></i>Адрес:</h3>
						<span>г.Оренбург</span>
					</div>
					<div class="contact-info-box email clearfix">
						<h3><i class="fa fa-pencil"></i>email:</h3>
						<span>afc.studio@yandex.ru</span>
					</div>
					<div class="contact-info-box hours clearfix">
						<h3><i class="fa fa-clock-o"></i>График:</h3>
						<span><strong>Понедельник - Воскресенье:</strong> 9:00 - 18:00<br><br><strong>Суббота - Воскресенье:</strong> Да, в выходные тоже идет работа.</span>
					</div>
					<!--<ul class="social-link">-->
					<!--<li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>-->
					<!--<li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>-->
					<!--<li class="pinterest"><a href="#"><i class="fa fa-pinterest"></i></a></li>-->
					<!--<li class="gplus"><a href="#"><i class="fa fa-google-plus"></i></a></li>-->
					<!--<li class="dribbble"><a href="#"><i class="fa fa-dribbble"></i></a></li>-->
					<!--</ul>-->
				</div>
				<div class="col-lg-6 col-sm-5 wow fadeInUp delay-05s">
					<div class="form">
						<div id="sendmessage">Ваша заявка оформлена и отправлена! Спасибо!</div>
						<div id="errormessage">Что то пошло не так.. Проверьте поля ввода!</div>
						<div class="form-group">
							<input type="text" name="name" class="form-control input-text" id="name1" placeholder="Ваше имя" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
							<div class="validation"></div>
						</div>
						<div class="form-group">
							<input type="email" class="form-control input-text" name="email" id="email1" placeholder="Ваш Email" data-rule="email" data-msg="Please enter a valid email" />
							<div class="validation"></div>
						</div>
						<div class="form-group">
							<input type="text" class="form-control input-text" name="subject" id="subject1" placeholder="Вид заказа (Программа, база данных, сайт)" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
							<div class="validation"></div>
						</div>
						<div class="form-group">
							<textarea class="form-control input-text text-area" name="message" id="message1" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Опишите вкратце что бы вы хотели заказать и/или оставь ваш телефон, мы перезвоним вам через 5 минут!"></textarea>
							<div class="validation"></div>
						</div>

						<div class="text-center"><button type="submit" class="input-btn" onclick="send_request();">Отправить заявку</button></div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<footer class="footer">
		<div class="container">
			<div class="footer-logo"><a href="#"><img src="~/spacehome/assets/images/optimizedSize/footer-logo.png" alt="" loading="lazy"></a></div>
			<span class="copyright"></span>
			<div class="credits">
				<!--
				  All the links in the footer should remain intact.
				  You can delete the links only if you purchased the pro version.
				  Licensing information: https://bootstrapmade.com/license/
				  Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Knight
				-->

			</div>
		</div>
	</footer>
	<!-- Yandex.Metrika counter -->
	<script type="text/javascript">
		(function (m, e, t, r, i, k, a) {
			m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
			m[i].l = 1 * new Date(); k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
		})
			(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

		ym(62766436, "init", {
			clickmap: true,
			trackLinks: true,
			accurateTrackBounce: true
		});
	</script>
	<noscript><div><img src="https://mc.yandex.ru/watch/62766436" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
	<!-- /Yandex.Metrika counter -->

	<script type="text/javascript" src="https://vk.com/js/api/openapi.js?160"></script>

	<!-- VK Widget -->
	<div id="vk_community_messages"></div>
	<script type="text/javascript">
		VK.Widgets.CommunityMessages("vk_community_messages", 120931111, { tooltipButtonText: "Оставить заявку" });
	</script>

	<script type="text/javascript">
		$(document).ready(function (e) {

			$('#test').scrollToFixed();
			$('.res-nav_click').click(function () {
				$('.main-nav').slideToggle();
				return false

			});

			$('.Portfolio-box').magnificPopup({
				delegate: 'a',
				type: 'image'
			});

		});
	</script>

	<script>
		wow = new WOW({
			animateClass: 'animated',
			offset: 100
		});
		wow.init();
	</script>


	<script type="text/javascript">
		$(window).load(function () {
			//Timeout(function () {
			//    let roll = (document.getElementById('sec').innerHTML == 0) ? true : false;
			//    if (roll == false) {
			//        document.querySelector("#sec").scrollIntoView({
			//            behavior: 'smooth',
			//            block: 'start'
			//        }, 3000);}
			//

			let roll = (0 == pageYOffset) ? false : true;
			if (roll == false) {
				setTimeout(function () {
					document.querySelector("#sec").scrollIntoView({
						behavior: 'smooth',
						block: 'start'
					});
				}, 5000);
			}
			$('.main-nav li a, .servicelink').bind('click', function (event) {
				var $anchor = $(this);

				$('html, body').stop().animate({
					scrollTop: $($anchor.attr('href')).offset().top - 102
				}, 1500, 'easeInOutExpo');
				/*
				if you don't want to use the easing effects:
				$('html, body').stop().animate({
					scrollTop: $($anchor.attr('href')).offset().top
				}, 1000);
				*/
				if ($(window).width() < 768) {
					$('.main-nav').hide();
				}
				event.preventDefault();
			});
		})
	</script>

	<script type="text/javascript">
		$(window).load(function () {


			var $container = $('.portfolioContainer'),
				$body = $('body'),
				colW = 375,
				columns = null;


			$container.isotope({
				// disable window resizing
				resizable: true,
				masonry: {
					columnWidth: colW
				}
			});

			$(window).smartresize(function () {
				// check if columns has changed
				var currentColumns = Math.floor(($body.width() - 30) / colW);
				if (currentColumns !== columns) {
					// set new column count
					columns = currentColumns;
					// apply width to container manually, then trigger relayout
					$container.width(columns * colW)
						.isotope('reLayout');
				}

			}).smartresize(); // trigger resize to set container width
			$('.portfolioFilter a').click(function () {
				$('.portfolioFilter .current').removeClass('current');
				$(this).addClass('current');

				var selector = $(this).attr('data-filter');
				$container.isotope({

					filter: selector,
				});
				return false;
			});

		});
	</script>

</body>

</html>