@{ Layout = null; }
<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, maximum-scale=1">
	<meta name="description" content="Affordable website development: Website development studio, design, and software for your business. We create affordable websites or software for any type of business." />
	<meta name="keywords" content="website creation, website development, design, make design, sites" />
	<title>AFC Studio Website Development</title>
	<link rel="icon" href="~/spacehome/assets/images/optimizedSize/favicon.png" type="image/png">
	<link rel="shortcut icon" href="~/spacehome/assets/images/optimizedSize/favicon.ico" type="img/x-icon">

	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,800italic,700italic,600italic,400italic,300italic,800,700,600' rel='stylesheet' type='text/css'>
	<link href="~/spacehome/assets/css/bootstrap/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="~/spacehome/assets/css/style.css" rel="stylesheet" type="text/css">
	<link href="~/spacehome/assets/css/font-awesome.css" rel="stylesheet" type="text/css">
	<link href="~/spacehome/assets/css/animate.css" rel="stylesheet" type="text/css">

	<script type="text/javascript" src="~/spacehome/assets/js/jquery.1.8.3.min.js"></script>
	<script type="text/javascript" src="~/spacehome/assets/js/bootstrap.js"></script>
	<script type="text/javascript" src="~/spacehome/assets/js/jquery-scrolltofixed.js"></script>
	<script type="text/javascript" src="~/spacehome/assets/js/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="~/spacehome/assets/js/jquery.isotope.js"></script>
	<script type="text/javascript" src="~/spacehome/assets/js/wow.js"></script>
	<script type="text/javascript" src="~/spacehome/assets/js/classie.js"></script>
	<script type="text/javascript" src="~/spacehome/assets/js/magnific-popup.js"></script>
	<script src="scripts/js_scr/contactform/contactform.js"></script>
	<script src="~/spacehome/assets/js/request.js"></script>
	<script src="~/spacehome/assets/js/action_pages.js"></script>
</head>

<body>
	<header class="header" id="header" style="height: 100vh !important; padding-top: 20%">
		<div class="container">
			<figure class="logo animated fadeInDown delay-07s">
				<a href="#"><img class="rot" src="~/spacehome/assets/images/optimizedSize/logo.png" alt=""></a>
			</figure>
			<h1 class="animated fadeInDown delay-07s">AFCStudio Website Development</h1>
			<ul class="we-create animated fadeInUp delay-1s">
				<li>We create websites of any complexity, as well as design and software for your business!</li>
			</ul>
		</div>
	</header>

	<section id="sec" class="secondhad">
		<h1 class="animated fadeInDown delay-07s start-text">On our website you can</h1>
		<ul class="we-create animated fadeInUp delay-1s end-text">
			<li>We work with both individuals and companies — everything is open and transparent.</li>
		</ul>
		<div class="secondhead-flex" style="height: 100%">
			<div class="card" style="height: calc(100% - 330px); width: 50%">
				<a class="card-text" href="/Home/Competencies">
					<h4 class="card-text" style="font-weight: bolder">View our competencies</h4>
				</a>
			</div>
			<div class="card2" style="height: calc(100% - 330px); width: 50%">
				<a class="card-text" href="#contact">
					<h4 class="card-text" style="font-weight: bolder">Calculate your service</h4>
				</a>
			</div>
		</div>
	</section>

	<nav class="main-nav-outer" id="test">
		<div class="container">
			<ul class="main-nav">
				<li><a href="#header">Home</a></li>
				<li><a href="#service">Service</a></li>
				<li><a href="#Portfolio">Offers</a></li>
				<li class="small-logo"><a href="#header"><img src="~/spacehome/assets/images/optimizedSize/small-logo.png" alt=""></a></li>
				<li><a href="#client">Reviews</a></li>
				<li><a href="#team">Team</a></li>
				<li><a href="#contact">Your Request</a></li>
			</ul>
			<a class="res-nav_click" href="#"><i class="fa fa-bars"></i></a>
		</div>
	</nav>

	<section class="main-section" id="service">
		<div class="container" style="padding-top: 3%">
			<h2>Service</h2>
			<h6>We create only high-quality software and web solutions for you.</h6>
			<div class="row">
				<div class="col-lg-4 col-sm-6 wow fadeInLeft delay-05s">
					<div class="service-list">
						<div class="service-list-col1">
							<i class="fa fa-paw"></i>
						</div>
						<div class="service-list-col2">
							<h3>Software &amp; Databases</h3>
							<p>We create any software solution for your business or build a standalone database tailored to your needs.</p>
						</div>
					</div>
					<div class="service-list">
						<div class="service-list-col1">
							<i class="fa fa-gear"></i>
						</div>
						<div class="service-list-col2">
							<h3>Web Development</h3>
							<p>We create websites of any complexity: from simple landing pages to large-scale projects with databases.</p>
						</div>
					</div>
					<div class="service-list">
						<div class="service-list-col1">
							<i class="fa fa-apple"></i>
						</div>
						<div class="service-list-col2">
							<h3>Mobile Design</h3>
							<p>Your website will be fully responsive on any device.</p>
						</div>
					</div>
					<div class="service-list">
						<div class="service-list-col1">
							<i class="fa fa-medkit"></i>
						</div>
						<div class="service-list-col2">
							<h3>Support</h3>
							<p>We offer ongoing support of our software products. We can update or change your software for new data types.</p>
						</div>
					</div>
					<div class="service-list">
						<div class="service-list-col1">
							<i class="fa fa-times"></i>
						</div>
						<div class="service-list-col2">
							<h3>Freelance?</h3>
							<p>We have a TEAM of verified specialists with higher IT education.<br> And yes… you can monitor the development process in real time! This means you can view a demo version of your product anytime and see its progress.</p>
						</div>
					</div>
				</div>
				<figure class="col-lg-8 col-sm-6  text-right wow fadeInUp delay-02s">
					<img src="~/spacehome/assets/images/optimizedSize/macbook-pro.png" alt="">
				</figure>

			</div>
		</div>
	</section>

	<section class="main-section">
		<div class="container">
			<h2>Our Works</h2>
			<br><br>
			<div id="carousel" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
					<div class="item active">
						<img src="~/spacehome/assets/images/optimizedSize/1.webp">
					</div>
					<div class="item">
						<img src="~/spacehome/assets/images/optimizedSize/2.webp">
					</div>
					<div class="item">
						<img src="~/spacehome/assets/images/optimizedSize/3.webp">
					</div>
					<div class="item">
						<img src="~/spacehome/assets/images/optimizedSize/4.webp">
					</div>
					<div class="item">
						<img src="~/spacehome/assets/images/optimizedSize/5.webp">
					</div>
					<div class="item">
						<img src="~/spacehome/assets/images/optimizedSize/6.webp">
					</div>
					<div class="item">
						<img src="~/spacehome/assets/images/optimizedSize/7.webp">
					</div>
				</div>
				<a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
					<span class="fa fa-arrow-left" aria-hidden="true"></span>
				</a>
				<a class="right carousel-control" href="#carousel" role="button" data-slide="next">
					<span class="fa fa-arrow-right" aria-hidden="true"></span>
				</a>
			</div>
		</div>

	</section>

	<section class="main-section alabaster">
		<div class="container">
			<div class="row">
				<figure class="col-lg-5 col-sm-4 wow fadeInLeft">
					<img src="~/spacehome/assets/images/optimizedSize/iphone.png" alt="">
				</figure>
				<div class="col-lg-7 col-sm-8 featured-work">
					<h2>21st Century</h2>
					<p class="padding-b">Today you can — and should — build your business using modern IT technologies. Software solutions tailored specifically for you allow achieving high performance. No third-party engines or expensive software — you save resources for more important things. And most importantly, such products are easy to maintain and improve by any developer.</p>
					<div class="featured-box">
						<div class="featured-box-col1 wow fadeInRight delay-02s">
							<i class="fa fa-magic"></i>
						</div>
						<div class="featured-box-col2 wow fadeInRight delay-02s">
							<h3>The magic of development</h3>
							<p>All websites we create are fully responsive for all devices and browsers.</p>
						</div>
					</div>
					<div class="featured-box">
						<div class="featured-box-col1 wow fadeInRight delay-04s">
							<i class="fa fa-gift"></i>
						</div>
						<div class="featured-box-col2 wow fadeInRight delay-04s">
							<h3>Gifts for clients</h3>
							<p>Many developers refuse to fix projects after delivery. We give you a set of free revisions for your websites or software.</p>
						</div>
					</div>
					<div class="featured-box">
						<div class="featured-box-col1 wow fadeInRight delay-06s">
							<i class="fa fa-dashboard"></i>
						</div>
						<div class="featured-box-col2 wow fadeInRight delay-06s">
							<h3>SEO optimization</h3>
							<p>Our products are built with SEO-friendly structure. We can also promote your projects ourselves.</p>
						</div>
					</div>
					<a class="Learn-More" href="#">Learn More</a>
				</div>
			</div>
		</div>
	</section>

	<section class="main-section client-part" id="client">
		<div class="container">
			<b class="quote-right wow fadeInDown delay-03"><i class="fa fa-quote-right"></i></b>
			<div class="row">
				<div class="col-lg-12">
					<p class="client-part-haead wow fadeInDown delay-05">We love what we do — which means our software products are always top-quality. That means you win.</p>
				</div>
			</div>
			<ul class="client wow fadeIn delay-05s">
				<li>
					<a href="#">
						<img src="~/spacehome/assets/images/optimizedSize/team-leader-pic2.png" alt="">
						<h3>Studio Manager</h3>
						<span>AFC Studio.</span>
					</a>
				</li>
			</ul>
		</div>
	</section>

	<div class="c-logo-part">
		<div class="container">
			<ul>
				<li><a href="#"><img src="~/spacehome/assets/images/optimizedSize/c-liogo1.png" alt=""></a></li>
				<li><a href="#"><img src="~/spacehome/assets/images/optimizedSize/c-liogo2.png" alt=""></a></li>
				<li><a href="#"><img src="~/spacehome/assets/images/optimizedSize/c-liogo3.png" alt=""></a></li>
				<li><a href="#"><img src="~/spacehome/assets/images/optimizedSize/c-liogo4.png" alt=""></a></li>
				<li><a href="#"><img src="~/spacehome/assets/images/optimizedSize/c-liogo5.png" alt=""></a></li>
			</ul>
		</div>
	</div>

	<section class="main-section team" id="team">
		<div class="container">
			<h2>Team</h2>
			<h6>Your orders are developed not by one person, but by an entire team.</h6>
			<div class="team-leader-block clearfix">
				<div class="team-leader-box">
					<div class="team-leader wow fadeInDown delay-03s">
						<div class="team-leader-shadow"><a href="#"></a></div>
						<img src="~/spacehome/assets/images/optimizedSize/team-leader-pic1.png" alt="">
						<ul>
							<li><a href="mailto:mr-mishana-319@yandex.ru" class="fa fa-mail-forward"></a></li>
							<li><a href="https://vk.com/kryptograf" class="fab fa-vk"></a></li>
							<li><a href="https://vk.com/afc_studio" class="fas fa-users"></a></li>
						</ul>
					</div>
					<h3 class="wow fadeInDown delay-03s">Web Developer</h3>
					<span class="wow fadeInDown delay-03s">Website Development</span>
					<p class="wow fadeInDown delay-03s">Specializes in website development (front-end and back-end) and participates in other projects.</p>
				</div>
				<div class="team-leader-box">
					<div class="team-leader  wow fadeInDown delay-06s">
						<div class="team-leader-shadow"><a href="#"></a></div>
						<img src="~/spacehome/assets/images/optimizedSize/team-leader-pic2.png" alt="">
						<ul>
							<li><a href="mailto:x.s.a.cach@gmail.com" class="fa fa-mail-forward"></a></li>
							<li><a href="https://vk.com/id184563259" class="fab fa-vk"></a></li>
							<li><a href="https://vk.com/afc_studio" class="fas fa-users"></a></li>
						</ul>
					</div>
					<h3 class="wow fadeInDown delay-06s">Project Manager</h3>
					<span class="wow fadeInDown delay-06s">All Projects</span>
					<p class="wow fadeInDown delay-06s">Manages each order, organizes the team, and participates directly in development — that’s why all projects are always on schedule!</p>
				</div>
				<div class="team-leader-box">
					<div class="team-leader wow fadeInDown delay-09s">
						<div class="team-leader-shadow"><a href="#"></a></div>
						<img src="~/spacehome/assets/images/optimizedSize/team-leader-pic3.png" alt="">
						<ul>
							<li><a href="mailto:kostya12277@yandex.ru" class="fa fa-mail-forward"></a></li>
							<li><a href="https://vk.com/darknothing" class="fab fa-vk"></a></li>
							<li><a href="https://vk.com/afc_studio" class="fas fa-users"></a></li>
						</ul>
					</div>
					<h3 class="wow fadeInDown delay-09s">Application Developer</h3>
					<span class="wow fadeInDown delay-09s">Application & Database Development</span>
					<p class="wow fadeInDown delay-09s">Develops both high-load applications with SQL and simple business solutions.</p>
				</div>
			</div>
		</div>
	</section>

	<section class="business-talking" id="req">
		<div class="container">
			<h2>Let’s proceed to the order</h2>
		</div>
	</section>

	<div class="container">
		<section class="main-section contact" id="contact">

			<div class="row">
				<div class="col-lg-6 col-sm-7 wow fadeInLeft">
					<div class="contact-info-box address clearfix">
						<h3><i class=" icon-map-marker"></i>Address:</h3>
						<span>Thailand, Phuket</span>
					</div>
					<div class="contact-info-box email clearfix">
						<h3><i class="fa fa-pencil"></i>Email:</h3>
						<span>afc.studio@yandex.ru</span>
					</div>
					<div class="contact-info-box hours clearfix">
						<h3><i class="fa fa-clock-o"></i>Working Hours:</h3>
						<span><strong>Monday - Sunday:</strong> 9:00 - 18:00<br><br><strong>Weekends:</strong> Yes, we work on weekends too.</span>
					</div>
				</div>
				<div class="col-lg-6 col-sm-5 wow fadeInUp delay-05s">
					<div class="form">
						<div id="sendmessage">Your request has been sent! Thank you!</div>
						<div id="errormessage">Something went wrong… Please check the input fields!</div>
						<div class="form-group">
							<input type="text" name="name" class="form-control input-text" id="name1" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
							<div class="validation"></div>
						</div>
						<div class="form-group">
							<input type="email" class="form-control input-text" name="email" id="email1" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
							<div class="validation"></div>
						</div>
						<div class="form-group">
							<input type="text" class="form-control input-text" name="subject" id="subject1" placeholder="Order Type (Software, database, website)" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
							<div class="validation"></div>
						</div>
						<div class="form-group">
							<textarea class="form-control input-text text-area" name="message" id="message1" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Describe briefly what you want to order and/or leave your phone number — we will call you back in 5 minutes!"></textarea>
							<div class="validation"></div>
						</div>

                        <div class="text-center">
                            <button type="submit" class="input-btn" 
                                onclick="send_request(
                                    document.getElementById('name1').value,
                                    document.getElementById('email1').value,
                                    document.getElementById('subject1').value,
                                    document.getElementById('message1').value);">
                                Send Request
                            </button>
                        </div>
					</div>
				</div>
			</div>
		</section>
	</div>

	<footer class="footer">
		<div class="container">
			<div class="footer-logo"><a href="#"><img src="~/spacehome/assets/images/optimizedSize/footer-logo.png" alt=""></a></div>
			<span class="copyright"></span>
			<div class="credits">
			</div>
		</div>
	</footer>

</body>
</html>
